<html></html><div class="grid">
<div>
    <div class="wrapper">
      
        <div class="shape">
          
          <div class="plane p1" [ngStyle]="{'background-image':'url('+imagen1+')'}"><p>Puesto 1</p></div>
          <div class="plane p2" [ngStyle]="{'background-image':'url('+imagen2+')'}"><p>Puesto 2</p></div>
          <div class="plane p3" [ngStyle]="{'background-image':'url('+imagen3+')'}"><p>Puesto 3</p></div>
          <div class="plane p4" [ngStyle]="{'background-image':'url('+imagen4+')'}"><p>Puesto 4</p></div>
          <div class="plane p5" [ngStyle]="{'background-image':'url('+imagen5+')'}"><p>Puesto 5</p></div>
          <div class="plane p6" [ngStyle]="{'background-image':'url('+imagen6+')'}"><p>Puesto 6</p></div>
          <div class="plane p7" [ngStyle]="{'background-image':'url('+imagen7+')'}"><p>Puesto 7</p></div>
          <div class="plane p8" [ngStyle]="{'background-image':'url('+imagen8+')'}"><p>Puesto 8</p></div>
          
        </div>
        
      </div>
    </div>

</div>

