<h2> Bienvenido sea </h2>
<div class="container">
    <div class="info">
        <h4>Aracria es una página diseñada para compartir distintos diseños de los personajes pertenecientes a la absolutamente desconocida novela NoAca (No Todo Acaba tras la Muerte del Rey Demonio).        </h4>
        <h4>Actualmente existen 6 volúmenes de esta saga de los cuales solo uno ha sido publicado:</h4>
        <div class="block"></div>
        <h4>El Séptimo volumen aún está en proceso, y va a seguir estándolo hasta que empiece el verano y pueda finalmente volver a escribir</h4>
    </div>
</div>